
.container{
    max-width: 1500px !important;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
    background: #feffff;
}
header{
    margin-top: -25px;
}

.nav {
    background-color: inherit;
    height: 7rem;
    width: 100%;
    display: block;
    justify-content: flex-start;
    z-index: 10;
    font-weight: 300;
    transition: 0.2s ease-in-out;
    position: fixed;
   
}

.nav__list {
    color:#fff;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-top: -40px;
    
}

.nav__link {
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;
    position: relative;
    font-family: "product sans",sans-serif;
    letter-spacing: 1px;
    line-height: 16px;
    font-weight: 700;
    transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
    color: #fff;
}
.nav-logo{

    content: url(../Components/logo_white.png);
}

.nav-active {
    background-color:#fff ;
    margin: 0%;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    
}

.nav__link::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #2e2e2e;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s, transform 0.2s ease-out;
}



.nav__link-active::before {
    background-color: #fff;
}
.nav

.nav__link:hover::before,
.nav__link:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
    color: #fff;
}

.logo {
 
    margin-top: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    color: rgb(22, 8, 8);
    text-transform: uppercase;
    width: 25rem;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
}

.smalllogo {
    display: none;
}

a {
    text-decoration: none;
    color: inherit !important;
}
a:hover{
    color: inherit  !important;
    
}


#background-section{
    position: absolute;
    z-index: -100;
    margin-left: 40%;
   
    
}

#Section_One{
   width: 100%;
   height: 1000px;

}

#main-text{
    margin-top: 40%;
    color: #1e3799;
    font-size: 4em;
    font-family: "product sans",sans-serif;
    font-weight: 700 !important;
}

  
  
.button_main {
    color: white;
    background-color: #1e3799;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    border: none;
    font-size: 30px !important;
    border-radius: 15px;
    padding: 5px 50px 5px 50px;
    font-size: 16px;
    font-family: "product sans",sans-serif;
}
#main-image{
   
    float: right;
    width: 110%;
    margin-top: 200px;
    
}
#Section_Two{
    position: relative;
    min-height: 400px;
    z-index: -10;
    
}
#Text_Main_Center{
    text-align: center;
    font-family: "product sans",sans-serif;
    color: #1e3799;
    font-size: 4em;
    font-weight: 700 !important;
}
.mouse_scroll {
	display: block;
	margin: 0 auto;
	width: 24px;
	height: 100px;
	margin-top: 90px;
}


.m_scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid #283257;
  border-bottom: 2px solid #283257;
  margin: 0 0 3px 4px;
  
  width: 16px;
  height: 16px;
}


.unu
{
  margin-top: 1px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
  
}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .2s;
  animation-direction: alternate;
  
  margin-top: -6px;
}

.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .3s;
  animation-direction: alternate;
  
  
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid #283257;
  top: 20%;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background:#283257;
  position: relative;
  
  height: 4px;
  width: 4px;
  border: 2px solid #283257;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@-o-keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}


#Section_Sub_Text{
    font-family: 'Lato', sans-serif;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    color: #283257;
    font-size: 1.6em;
    font-weight: 400 !important;

}
iframe{
    margin-top: 10%;
}
#Section_Three{
     margin-bottom: 5%;
}
#card{
    margin-top: 10%;
    min-height: 500px;
    margin-left: 7%;
    margin-right: 7%;
    background: rgba( 255, 255, 255, 0.55 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20.0px );
    -webkit-backdrop-filter: blur( 20.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
#card-img{
    width: 70%;
    margin-top: 5%;
    margin-left: 15%;
}
#Main_Text_Card{
    margin-top: 10%;
    font-size: 2em;
    text-align: center;
    font-family: "product sans",sans-serif;
    font-weight: 600;
    color: #1e3799;
}
#Sub_Text_Card{
    font-size: 1.5em;
    text-align: center;
    font-weight: 600;
    color: #4a69bd;
}
.Button_Sub{
    margin-left: 28%;
    margin-right: 28%;
    color:#1e3799 ;
    background-color: #fff;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    border: 1px solid#1e3799 ;
    font-size: 20px !important;
    border-radius: 15px;
    padding: 5px 40px 5px 40px;
    font-size: 16px;
    font-family: "product sans",sans-serif;
}
#Section_Four{
    min-height: 400px;
}
#Section_Four_Main_Text{
    font-family: 'Lato', sans-serif;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    color: #283257;
    font-size: 1.5em;
    font-weight: 400 !important;

}
#Wedo_Img_One{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 300px;
}

#Section_Four_Main_Text_Sub{
    font-family: "product sans",sans-serif;
    text-align: center;
    color: #1e3799;
    font-size: 2em;
    font-weight:bolder;
}
#Section_Five_Sub_Text{
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-weight:300;
    color: #283257;
    font-size: 1.5em;
    
}

#Section_Six{
    margin-top: 5%;
    min-height: 600px;
}
#processimg{
    margin-top: 5%;
    width: 90%;
}
#Section_Six_Main_Text{
    font-family: "product sans",sans-serif;
    text-align: center;
    color: #1e3799;
    font-size: 2.5em;
    font-weight:bolder;
}
#Section_Six_Sub_Text_1{
    font-family: 'Lato', sans-serif;
    text-align: right;
    font-weight:400;
    color: #283257;
    font-size: 1.35em;
   
    
}
#Section_Six_Sub_Text_2{
    font-family: 'Lato', sans-serif;
    text-align: left;
    font-weight:400;
    color: #283257;
    font-size: 1.35em;
   
    
}
#processimg_2{

    margin-top: 10%;
    width: 100%;
}

#Section_Seven{
    
    margin-top: 5%;
    min-height: 650px;
}
#client_Logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 300px;
    
}
#Section_Seven_Main_Text{
    font-family: "product sans",sans-serif;
    text-align: center;
    color: #1e3799;
    font-size: 1.5em;
    font-weight:bolder;
}
#Section_Seven_Sub_Text{
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-weight:400;
    color: #2e2e2e;
    font-size: 1.25em;
}
#Footer{
    margin-top: 5%;
   min-height: 25rem;
   background-color: #fff;
 
}
#Footer_Right{
    position: relative;
    margin-top: -150px;
    float: right;
   
    z-index:-10 ;
}
#Footer_Left{
    position: relative;
    margin-top: -130px;
    z-index:-10 ;
}
#Footer_Main_Text{
    font-family: "product sans",sans-serif;
    color: #1e3799;
    font-size: 1.5em;
    font-weight:bolder;
}
#Footer_Main_Sub_Text{
    font-family: 'Lato', sans-serif;
    font-weight:bolder;
    color: #2e2e2e;
    font-size: 1.25em;
    margin-bottom: 0;
}
#Footer_Sub_Text{
    font-family: 'Lato', sans-serif;
    font-weight:normal;
    color: #2e2e2e;
    font-size: 1em;
}
#Footer_Main_Text-2{
    font-family: "product sans",sans-serif;
    color: #1e3799;
    font-size: 1.5em;
    font-weight:bolder;
    text-align: center;
}
#Footer_Main_Sub_Text-2{
    font-family: 'Lato', sans-serif;
    font-weight:bolder;
    color: #2e2e2e;
    font-size: 1.25em;
    margin-bottom: 0;
    text-align: center;
}
#Footer_Main_Text-3{
    font-family: "product sans",sans-serif;
    color: #1e3799;
    font-size: 1.5em;
    font-weight:bolder;
    text-align: right;
}
hr.rounded {
    border: 0;
    border-top: 5px solid #2e2e2e;
    border-radius: 5px;
  }

#akavasoft_copyright{
    font-family: "product sans",sans-serif;
    color: #2e2e2e;
    text-align: center;
    font-size: 1.5em;
    font-weight:normal;
  }
  .social-icons {
    float: right;
    align-items: flex-end;
    align-items: baseline;
    color: #2e2e2e;
    margin: 10px 10px 10px 0px;
}

